version: '3.8'

services:
  redis:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: redis-cluster
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - system-design
  
volumes:
  redis_data:

networks:
  system-design:
    driver: bridge